*.log
.DS_Store
dist
node_modules

# Microbundle cache
.rpt2_cache
.rts2_cache_cjs
.rts2_cache_es
.rts2_cache_umd

# IDE - VSCode
.vscode/*
!.vscode/pnpify
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Yarn Zero-Installs
.yarn/unplugged
.yarn/build-state.yml
